@model CalculatorIndexModel

@{
    ViewData["Title"] = @Model.Name;
}

@Html.AntiForgeryToken()

<h2>@Model.Name - @Model.Id</h2>
<p>@Model.Description</p>
<p>
    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>@tag</li>
        }
    </ul>
</p>
<vc:calculator-phase-control calculator-id="@Model.Id" phase="@Model.Phase" />

<script type="text/javascript">
    var phaseId = parseInt("@Model.Phase", 10);

    function onClickSubmit() {
        $.ajax({
            url: "/Calculator/@Model.Id/Calculate/" + phaseId,
            type: "GET",
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: {
                argument1: $("#argument1").val(),
                argument2: $("#argument2").val()
            }
        })
        .done(function (result) {
            $("#calculationResult").val(result.value);
        });
    }

    function onValueInput(e) {
        console.log("onValueInput - e: " + JSON.stringify(e));
    }
</script>
