@model CalculatorIndexModel

@{
    ViewData["Title"] = @Model.Name;
}

@*@Html.AntiForgeryToken()*@

<h2>@Model.Name - @Model.Id</h2>
<p>@Model.Description</p>
<p>
    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>@tag</li>
        }
    </ul>
</p>
<vc:calculator-phase-control calculator-id="@Model.Id" phase="@Model.Phase" />

<script type="text/javascript">
</script>
